<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tiger Dashboard</title>


</head>
<body>

  <h1>Tell Me About This Tiger!!</h1>

 <h4> Name: <%= tiger.name %><br></h4>
  <h4>Skin Type: <%= tiger.skin %><br></h4>
  <a href="/">Home</a>

</body>
</html>
